.containerColor{
    padding-top: 50px;
    width: 100%;
    background-color: #00428A;
    font-size: 30px;
    -family: Roboto;
    padding-bottom: 50px;
}
.containerIncolor{
    padding-top: 50px;
    width: 100%;
    background-color: #FFF;
    font-size: 30px;
    -family: Roboto;
    padding-bottom: 50px;
}
.titleAbout{
    color: #FFCD00;
    text-align: center;
    font-size: 46px;
    font-family: Roboto;
    font-weight: 500;
    padding-inline: 30px;
}
.contentAbout{
    margin-top: 50px;
    padding-inline: 30px;
    margin-inline: auto;
    display: flex;
    max-width: 1366px;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 840px){
        gap: 25px;
    }
    @media (max-width: 680px) {
        flex-direction: column;
    }
}
.textContent{
    color: #FFF;
    text-align: justify;
    font-size: 30px;
    font-family: Roboto;
    line-height: 50px;
    @media (max-width: 1280px){
        font-size: 18px;
        line-height: 35px;
    }
    @media (max-width: 1080px){
        font-size: 16px;
        line-height: 25px;
    }
}
.imgContent{
    width: 600px;
    height: auto;
    border-radius: 10px;
    @media (max-width: 1080px){
        width: 400px;
    }
    @media (max-width: 520px){
        width: 350px;
    }
}
